.SwipeButtons {
  position: fixed;
  bottom: 6vh;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.SwipeButtons .MuiIconButton-root {
  background-color: #fff;
  box-shadow: 0px 10px 53px 0px rgba(0, 0, 0, 0.3) !important;
}
